body {
    background-color: rgb(236,236,236);

}


#header{
background: rgba(4,69,138,1);
background: -moz-linear-gradient(left, rgba(4,69,138,1) 0%, rgba(43,153,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,69,138,1)), color-stop(100%, rgba(43,153,255,1)));
background: -webkit-linear-gradient(left, rgba(4,69,138,1) 0%, rgba(43,153,255,1) 100%);
background: -o-linear-gradient(left, rgba(4,69,138,1) 0%, rgba(43,153,255,1) 100%);
background: -ms-linear-gradient(left, rgba(4,69,138,1) 0%, rgba(43,153,255,1) 100%);
background: linear-gradient(to right, rgba(4,69,138,1) 0%, rgba(43,153,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04458a', endColorstr='#2b99ff', GradientType=1 );

}

#piggybank{
	color: pink;
	font-size: 24px;
}

#content{
background: rgba(237,247,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(237,247,255,1) 0%, rgba(109,180,242,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,247,255,1)), color-stop(100%, rgba(109,180,242,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(237,247,255,1) 0%, rgba(109,180,242,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(237,247,255,1) 0%, rgba(109,180,242,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(237,247,255,1) 0%, rgba(109,180,242,1) 100%);
background: radial-gradient(ellipse at center, rgba(237,247,255,1) 0%, rgba(109,180,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf7ff', endColorstr='#6db4f2', GradientType=1 );
}

#account-edit{
	font-size: 36px;
	font-family: Oswald;
	color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;		
}

#transaction_header{
	
	font-size: 32px;
	font-family: Oswald;
	color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;	
}

#transaction_book_icon{
	color: white;
}

#transaction_table{
	color: red;

}

.btn{
	font-size: 20px;
	font-family: Oswald;
	color: White;
	background: rgba(199,8,52,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(199,8,52,1) 0%, rgba(143,2,34,1) 43%, rgba(66,0,17,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(199,8,52,1)), color-stop(43%, rgba(143,2,34,1)), color-stop(100%, rgba(66,0,17,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(199,8,52,1) 0%, rgba(143,2,34,1) 43%, rgba(66,0,17,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(199,8,52,1) 0%, rgba(143,2,34,1) 43%, rgba(66,0,17,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(199,8,52,1) 0%, rgba(143,2,34,1) 43%, rgba(66,0,17,1) 100%);
background: radial-gradient(ellipse at center, rgba(199,8,52,1) 0%, rgba(143,2,34,1) 43%, rgba(66,0,17,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70834', endColorstr='#420011', GradientType=1 );
}

.glyphicon-briefcase{
	color: blue;
}